*.pyc
*.iml
*.swp
.project
.pydevproject
.DS_Store

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# colcon/CMake output
build
install
log

# Catkin custom files
CATKIN_IGNORE
AMENT_IGNORE

# clion stuff
.idea/
cmake-build-*